
# Eclipse,emacs and other random stuff
.project
.settings
*~
#*#

#Tex related files
*.log
*.aux
*.synctex.gz
.texlipse


#YCM completion files
lextab.py

#Project specific stuff
*.beam
*.dump
log/
doc/html/
